// Container & Breakpoints
@use "sass:math";
$containerWidth: 1100;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: #fff;

// Index
$index: calc(1vw + 1vh);
